@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 90 90'%3E%3Ccircle fill-opacity='0.2' fill='%23DB4215' cx='45' cy='45' r='5'/%3E%3Cg fill='%23000000' fill-opacity='0.2'%3E%3Ccircle cx='0' cy='90' r='29'/%3E%3Ccircle cx='90' cy='90' r='29'/%3E%3Ccircle cx='90' cy='0' r='29'/%3E%3Ccircle cx='0' cy='0' r='29'/%3E%3C/g%3E%3C/svg%3E");
}

.show-navigation span {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}
.show-navigation:hover span {
  max-width: 24rem;
}
